<% provide(:title, "ユーザー一覧") %>
<div class="text-center mt-5 mb-5">
  <h2>ユーザー一覧</h2>
</div>

<div class="row show_images text-center">
  <% @users.each do |user| %>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <!-- Content -->
      <%= link_to user_path(user), class: "nav-item nav-link" do %>
        <%= image_tag user.image_url(:thumb) %>
      <% end %>
      <p><%= user.nickname %></p>
    </div>
  <% end %>
</div>