<div class="text-center mt-5 mb-5">
  <h2>ユーザー一覧</h2>
</div>

<div class="row show_images text-center">
  <% @users.each do |user| %>
    <div class="col-xl-4 col-md-6 col-sm-12">
      <!-- Content -->
      <a href='/user/<%= @user_id %>/<%= user['user_id'] %>'><img src="/images/profile/<%= user['profile_image_name'] %>"></a>
      <p><%= user.nickname %></p>
    </div>
  <% end %>
</div>